Package: com.wilsonthewolf.eliza
Name: Eliza
Version: 0.0.3
Architecture: iphoneos-arm
Description: Make your battery colourful!
Maintainer: WilsontheWolf
Author: WilsontheWolf
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, firmware(>=12.0)
Icon: https://repo.shorty.systems/icons/com.wilsonthewolf.eliza.png
Depiction: https://repo.shorty.systems/depictions/web/com.wilsonthewolf.eliza
SileoDepiction: https://repo.shorty.systems/depictions/sileo/com.wilsonthewolf.eliza
